body{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#avatar {
    width: 270px;
    border-radius: 40px;
    box-shadow: 8px 4px 14px rgb(91, 194, 212)
}

.list li { 
    color: #6d3535;
    margin-bottom: 3px;
}

#cert {
    width: 350px;
    
}

#cert2 {
    width: 443px;
   
}

.z1 {
    text-align: center;
}

.fss{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.item-1 {
    background-image: linear-gradient(45deg, rgb(197, 99, 181), rgb(98, 54, 180))
}

.item-2 {
    background-image: linear-gradient(45deg, rgb(76, 209, 233), rgb(18, 15, 199))
}

.item-3 {
    background-image: linear-gradient(45deg, rgb(238, 136, 20), rgb(226, 105, 25))
}

.contact {
    text-align: center;
   }